
Spotlight_Stream/.vs/Spotlight_Stream/FileContentIndex/30f917bd-fe8e-4886-b05d-a3f9ac8257d7.vsidx
Spotlight_Stream/.vs/Spotlight_Stream/FileContentIndex/7f538a36-1d9e-4664-82a5-0969e1e9ceab.vsidx
Spotlight_Stream/.vs/Spotlight_Stream/FileContentIndex/fbeaf6ca-84a9-41bf-ae11-68ed867a741e.vsidx
*.vsidx
